.logo {
    font-weight: bold;   
    font-size: large;
    color: #3b9bbd !important;

    span {
        font-weight: normal;
    }
}

.navbar {
    border-bottom: 2px solid #dedede;    
    position: fixed;
    z-index: 10;
    width: 100%;
}

.cart {
    cursor: pointer;
}